/* 
Container stylings for the button and slider
*/

.container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    column-gap: 5px;
    
    grid-template-areas: "topicLabel switch";
}

#groupByTopicLabel {
    grid-area: "topicLabel";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 
slider stylings
*/

.switch {
    grid-area: "switch";
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: steelblue;
}

input:focus + .slider {
    box-shadow: 0 0 1px steelblue;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.button {
  background-color: white;
  border: 2px solid steelblue;
  color: steelblue;
  padding: 5% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.wrapper {
    margin: auto;
    float: left;
    height: fit-content;
}

.view {
    width: 650px;
    /*margin: auto;*/
    padding: 5px;
    display: inline-block;
}

.innerWrapper1 {
    width: 50%;
    display: inline-block;
    float: left;
    height: fit-content;
}

.innerWrapper2 {
    width: 50%;
    display: inline-block;
    float: right;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/*
Table stylings
*/

.no-display {
    display: none !important;
}

.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}

.freqlabel-table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: bold;
}

.percentlabel-table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5px;
    font-weight: bold;
}

.bar-percent-rep {
    color : coral;
    fill : coral;
}

.bar-percent-dem {
    color: steelblue;
    fill: steelblue;
}

/* 
bubbleChart stylings
*/

.x-label,
.y-label {
    width: 1%7;
    display: inline-block;
    padding-right: 5px;
}

.axis-label {
    font-size: 11px;
}

.axis line {
    display: none !important;
}

circle {
    stroke: gray;
    opacity: .8;
}

/* 
tool tip stylings
*/

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    height: 34px;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip h5 {
    margin: auto;
    font: 10px sans-serif;
}

/*
Stylings for the brush
*/

/*
Stylings for the div
*/

#overlay {
    position: absolute;
    display: none; 
    width: 550px;
    height: 2000px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.svgDiv{
    position: relative;
    top: 0;
    left: 0;
    right: 200;
    bottom: 0;
    z-index: 2;
}

.textDiv{ 
    font-size: 12px;
    color: black;
    border: "2px solid black";
    text-align: center;
}
    /*transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}




